<div class="container">
  <%= form_for @post do |f| %>
    <%= f.label :content, "Update status: " %>
    <%= f.text_area :content, class: "form-control", placeholder: "What's on your mind?" %>
    <%= f.submit "Post", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<br>

<% @posts.each do |post| %>
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= post.user.email %><br>
          <%= "#{post.created_at.strftime("%B %d")} at #{post.created_at.strftime("%I:%M%P")}" %>
        </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>  <%= post.content %></li>
          <li class="divider"></li>
          <li><%= render partial: 'likes/like_form', locals: { post: post } %></li>
        </ul>
      </div>
      <div class="panel-footer">
        <p><%= "#{post.likes.count} people like this." %></p>
      <div class="divider"></div>
        <%= render partial: 'comments/comments', locals: { post: post } %>
        <%= render partial: 'comments/comment_form', locals: { post: post } %>
      </div>
      </div>
  </div>
<% end %>
              