<div class="container">
  <%= form_for @post do |f| %>
    <%= f.label :content, "Update status: " %>
    <%= f.text_area :content, class: "form-control", placeholder: "What's on your mind?" %>
    <%= f.submit "Post", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<br>

<% @posts.each do |post| %>
<div class="container">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= post.user.email %>
      </div>
    <div class="panel-body">
      <%= post.content %>
    </div>
    <div class="divider"></div>
      <%= render partial: 'likes/like_form', locals: { post: post } %>
    <div class="panel-footer">
      <p><%= "#{post.likes.count} people like this." %></p>
    <div class="divider"></div>
      <%= render partial: 'comments/comments', locals: { post: post } %>
      <%= render partial: 'comments/comment_form', locals: { post: post } %>
    </div>
    </div>
</div>
<% end %>
              