<% @post.each do |post| %>
  <ul>
    <li>
      <%= "Author: #{post.user.email}" %><br>
      <%= "Content: #{post.content}" %><br>
      <%= "Likes: #{post.likes.count}" %><br>
      <%= link_to "Like this post", method: 'post' %><br>
    </li><br>

    <%= form_for [post, @comment] do |f| %>
      <%= f.label :comment, "Add a Comment: " %><br>
      <%= f.text_area :comment %><br>
      <%= f.submit %><br><br>
    <% end %>

    Comments: 
    <% post.comments.each do |comment| %>
      <li> 
        <%= "Author: #{comment.user.email}" %><br>
        <%= "Comment: #{comment.comment}" %><br>
      </li>
    <% end %>
  </ul>
<% end %>

