<div class="container">
  <h1>Your Friend Requests</h1>
  <ul class="list-group">
    <% if @my_requests.empty? %>
      <li class="list-group-item">No new friend requests.</li>
    <% else %>
      <% @pending_friends.each do |friend| %>
        <% friendship = @my_requests.find { |i| i["user_id"] == friend.id || i["friend_id"] == friend.id } %>
          
          <li class="list-group-item clearfix">
            <%= link_to friend.email, user_path(friend) %>
            <span class="pull-right">
              <%= button_to "Cancel Request", friendship, method: "delete", class: "btn btn-sm" %>
            </span>
          </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="container">
  <h1>Pending Friend Requests</h1>
    <ul class="list-group">
        <% if @pending_requests.empty? %>
          <li class="list-group-item">No pending friend requests.</li>
        <% else %>
          <% @pending_inverse_friends.each do |friend| %>        
            <% friendship = @pending_requests.find { |i| i["user_id"] == friend.id || i["friend_id"] == friend.id } %>

            <li class="list-group-item clearfix">
              <%= link_to friend.email, user_path(friend) %>
              <span class="pull-right">
                <%= button_to "Deny", friendship, method: "delete", class: "btn btn-sm" %>
              </span>
              <span class="pull-right">
                <%= button_to "Accept", friendship, method: "put", class: "btn btn-sm" %>
              </span>
            </li>
          <% end %>
        <% end %>
    </ul>
</div>