<ul>
  <li><%= "Logged in as #{current_user.email}" if user_signed_in? %></li>
  <li><%= link_to "Sign in", new_user_session_path, :method => :get %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <li><%= link_to "Sign up", new_user_registration_path, :method => :get %></li>
  <li><%= link_to "User list", users_path  if user_signed_in? %></li>
  <li><%= link_to "Friends list", friendships_path  if user_signed_in? %></li>
  <li><%= link_to " #{current_user.pending_inverse_friendships.count} Pending Friend Requests", friend_requests_path if user_signed_in?%></li>
  <li><%= link_to "Feed", posts_path  if user_signed_in? %></li>
  <li><%= link_to "Profile", user_path(current_user) if user_signed_in? %></li>
</ul>